.header {
  color: rgb(63, 239, 81);
}

.css {
  color: brown;
}

.para {
  color: purple;
}
.code {
  color: blueviolet;
}
.Student table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 300px;
  margin-bottom: 10px;
}

.Student td,
.Student th {
  text-align: left;
  border: 1px solid black;
  padding: 5px 10px;
}

.Student table th {
  width: 100px;
}
